.inline-block {
    display: inline-block;
}

.absolute {
    position: absolute;
}


/*----------------------------HEADER--------------------------------*/

header {
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

#logo {
    width: 6rem;
    margin-right: 2rem;
    margin-left: 1rem;
}


/*----------------------------DROPDOWN------------------------------*/

.dropdown {
    display: inline-block;
    margin-right: 2rem;
}

.dropdown-content {
    display: none;
    width: 10rem;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    @include border-radius(0.5rem);
    @extend .absolute;
}

.dropdown-content a,
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    margin-top: 0.8rem;
}


/*-------------------------LOGIN--------------------------*/

.login {
    float: right;
    span,
    input {
        margin-right: 2rem;
        border: none;
        @include border-radius(0.2rem);
    }
}

#menu,
#sign {
    margin-top: 1rem;
}

.search-icone {
    width: 0.5rem;
}


/*---------------------NAVIGATION------------------------*/

#nav {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.button {
    padding: 0.8rem 0.5rem 0.8rem;
    margin-right: 0.3rem;
    font-size: 0.8rem;
    @include border-radius(0.4rem);
}

.button:first-child {
    margin-left: 1rem
}