.full-width {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.absolute {
    position: absolute;
}


/*----------------------------HEADER--------------------------------*/

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#logo {
    width: 5rem;
}


/*----------------------------DROPDOWN------------------------------*/

.dropdown {
    display: inline-block;
    margin-right: 2rem;
}

.dropdown-content {
    display: none;
    width: 10rem;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    @include border-radius(0.5rem);
    @extend .absolute;
}

.dropdown-content a,
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    margin-top: 0.8rem;
}

.login {
    float: right;
    margin-top: 1rem;
    span,
    input {
        margin-right: 2rem;
        @include border-radius(0.2rem);
    }
}