.white {
    color: white;
}

.grey {
    color: $greyLight;
}

.pink {
    background: $pink;
}

.greyB {
    background: $greyLight;
}


/*--------------------------------FONTS--------------------------*/

body {
    font-family: $font;
    .dropdown-btn,
    .sign {
        font-size: 0.9rem;
    }
    .dropdown-content {
        a {
            font-size: 0.85rem;
        }
    }
}


/*--------------------------------COLORS-------------------------*/

header {
    background: $greyDark;
    color: $white;
    .dropdown,
    .sign {
        color: $greyLight;
    }
    .dropdown:hover,
    .sign:hover {
        color: $greyWhite;
    }
    .dropdown {
        .dropdown-content {
            background: $opacityGrey;
            a {
                color: $greyLight;
            }
        }
    }
}


/*------------------------NAVIGATION-----------------*/

#nav {
    background: $greyMedium;
    .button {
        color: white;
    }
}